## Create Lists with the range() Function

Use the range() function to create a list with all numbers from 1 to 10.

In [25]:
list(range(1,11))

TypeError: 'tuple' object is not callable

Use the range() function to create a list with all numbers from 0 to 19.

In [19]:
range(0,20)

TypeError: 'tuple' object is not callable

Use the range function to create a list with all even numbers from 0 to 30 included.

In [ ]:
range(0,31,2)